<!DOCTYPE html>
<html>
  <head>
    <title>Calendar</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="wrapper">
      <div class="year"><%= profileObj.year %></div>
      <div><%- table %></div>
    </div>  
  </body>
</html>
